# This is Git's per-user configuration file.
[user]
[include]
	path = ~/.gitconfig.local
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = delta
[rebase]
	autosquash = true
[apply]
	whitespace = fix
[branch]
	sort = -committerdate
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[rerere]
	enabled = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	theme = DarkNeon
	line-numbers = true
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
