<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame SUUpdateAlert2</key>
	<string>1018 -606 550 402 420 -1117 1728 1084 </string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-03-13T21:50:24Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>2891417607</integer>
	<key>allowAnyShortcut</key>
	<true/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>installVersion</key>
	<string>99</string>
	<key>internalTilingNotified</key>
	<true/>
	<key>lastVersion</key>
	<string>100</string>
	<key>launchOnLogin</key>
	<true/>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<integer>1</integer>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
</dict>
</plist>
